@use "utilities/global" as *;

.main {
  background-color: var(--clr-bg-main);
  border-radius: rem(24px) rem(24px) rem(100px) rem(24px);
  padding: rem(48px) rem(24px);
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  margin: auto;
  max-width: rem(500px);
  @media (min-width: $breakpoint) {
    max-width: rem(840px);
    padding: rem(56px);
    border-bottom-right-radius: rem(200px);
    gap: 0;
  }
}
