@use "utilities/global" as *;
@use "sass:color";

@include reset;

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

:root {
  --clr-bg-body: #{$off-white};
  --clr-bg-main: #{$white};
  --clr-label: #{$smokey-grey};
  --clr-accent: #{$purple};
  --clr-separator-line: #{$light-grey};
  --clr-nr-input-placeholder: #{color.change($off-black, $alpha: 0.5)};
  --clr-nr-input: #{$off-black};
  --clr-border-default: #{$light-grey};
  --clr-text-primary: #{$off-black};
  --clr-text-accent: #{$purple};
}

body {
  font-family: "Poppins";
  background-color: var(--clr-bg-body);
}

#root {
  min-height: 100dvh;
  padding: div(88, 812) * 100dvh rem(16px) div(238, 812) * 100dvh;
  @media (min-width: $breakpoint) {
    padding: div(171, 960) * 100dvh 0 div(109, 960) * 100dvh;
  }
}
