@use "utilities/global" as *;

.odometer {
  margin-right: rem(9px);
  display: flex;
}

.olist {
  height: rem(62px);
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  & > span {
    display: block;
    width: fit-content;
    // scroll-snap-align: center;
  }
  @media (min-width: $breakpoint) {
    height: rem(114.4px);
  }
}
