@use "utilities/global" as *;

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.separator-line {
  width: 100%;
  height: rem(1px);
  background-color: var(--clr-separator-line);
  position: absolute;
}

.separator-button {
  background-color: var(--clr-button);
  width: rem(64px);
  height: rem(64px);
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.2s ease;
  @media (min-width: $breakpoint) {
    width: rem(96px);
    height: rem(96px);
    margin-left: auto;
  }
  & > img {
    width: rem(24px);
    height: rem(24px);
    @media (min-width: $breakpoint) {
      width: rem(44px);
      height: rem(44px);
    }
  }
  &:focus,
  &:active {
    outline: 0;
  }
  &:hover {
    background-color: var(--clr-button-active);
  }
}

.button--error {
  &:active {
    background-color: var(--clr-error);
  }
}
